
@tailwind base;
@tailwind components;
@tailwind utilities;


/* .App {
  font-family: sans-serif;
  text-align: center;
  border: 1px solid black;
} */

.slick-next {
  width: 48px;
  height: 48px;
  right: 15px;
  z-index: 1;
  color: transparent;
}

.slick-prev {
  left: 15px;
  width: 48px;
  height: 48px;
  z-index: 1;
  color: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
  font-size: 120px;
 color: #FFF;
}

